Macbook (Safari) has problems to upload longer mp4 files to hubs.

**Description**
Macbook (Safari) has problems to upload longer mp4 files to hubs.
For example this video: http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/WhatCarCanYouGetForAGrand.mp4
When Uploading longer videos localy to reticulum the browser throws an Error "cannot parse response" on Safari. This prevents the media link to be displayed right and create a MediaBroken Mesh to be shown.

**To Reproduce**
Steps to reproduce the behavior:
1. Download  http://commondatastorage.googleapis.com/gtv-videos-bucket/sample
2. Open Hubs on Mac (Safari)
3. Click on Place -> Upload -> Select the video -> Wait
4. After some time the video will be uploaded but the response from reticulum will not be readable
5. The console throws the error  http://commondatastorage.googleapis.com/gtv-videos-bucket/sample
6. A Broken Media Link element will be displayed

**Expected behavior**
The video will be uploaded and displayed. This works on other browsers.

**Screenshots**
![grafik](https://user-images.githubusercontent.com/17642063/130073492-60c7d244-7990-4695-99b6-870a4e5d5e06.png)

**Hardware** <!-- Please complete the following information -->
 - Device: MacBook Pro 2015
 - OS: macOS Big Sur 11.2
 - Browser: Safari 14.0.3

**Additional context**
This can be followed up to the upload call in media-utils.js 
According to this [stackOverflow](https://apple.stackexchange.com/questions/409055/safari-iphone-macbook-gives-nsurlerrordomain-1017) 
This might be due a wrong update header on the site of reticulum:
`It looks like your server is offering an upgrade to HTTP/2 even though the connection is already done with HTTP/2 - which makes no sense. Not only that, it is explicitly forbidden. From RFC 7540 section 8.1.2.2:`


Devtool Network tab.

![image](https://user-images.githubusercontent.com/7637832/132572258-a8065135-cb9b-419d-b356-5ab0d4c13142.png)

![image](https://user-images.githubusercontent.com/7637832/132572330-21254c9d-8a7f-4d07-93d0-17423fcfa573.png)


It seems that uploading fails. Sounds like a server side problem (for example exceeding the maximum allowed file size)?